* {
     box-sizing: border-box;
     border: 0 solid;
     margin: 0;
}



header {
     display: flex;
     flex-flow: row wrap;
     justify-content: flex-start;
     align-content: flex-start;
     align-items: center;
     width: 100%;
     height: auto;
     padding: 20px;
     background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgb(143, 193, 211));
     margin: auto;
}
h1 {
     flex: 1 0 auto;
     margin-right: 10vh;
     margin-bottom: 25px;
}

.nav-wrap {
     display: flex;
     flex-flow: row wrap;
     margin-left: 40px;
}

.nav-wrap a {
     text-decoration: none;
     color: inherit;
}
h3 {
     flex: 1 0 auto;
     padding: 20px;
     text-decoration: underline;
     line-height: 1.5;
     text-shadow: 2px 2px 4px whitesmoke;
}
h3:hover {
     text-decoration: none;
     font-size: 150%;
     cursor: grab;
}

.banner-img {
     position: relative;
     margin-bottom: 80px;
}

#waves {
     position: relative;
     width: 100%;
     height: 180px;
     object-fit: cover;
}

#selfie {
     z-index: 1;
     position: absolute;
     height: 160px;
     border-radius: 0 25% 25% 0;
     top: -35px;
     box-shadow: 7px 15px 10px white;
}

#subtitle {
     position: absolute;
     z-index: 2;
     left: 50%;
     top: 50%;
     font-style: italic;
}

.wrapper {
     display: flex;
     flex-flow: row wrap;
     justify-content: flex-start;
     margin: auto;
}

.section-descr {
     flex: 1 0 16%;
     padding: 30px;
     text-align: right;
}

.section-content {
     flex: 1 0 84%;
     border-left: 5px solid black;
     margin: 20px 0;
     padding: 20px;
}
#project-wrapper {
     display: flex;
     flex-flow: row wrap;
     height: 100%;
}
#project-large {
     flex: 0 2 100%;
     height: 50%;
     padding: 20px;
     background-image: url(./images/fabrizio-conti-0A6n1ipnt18-unsplash.jpg);
     object-fit: contain;
     background-size: cover;
     border: 10px solid rgb(143, 193, 211);
     position: relative;

}
.hover-border:hover {
     box-shadow: 1px 0px 10px 5px rgba(28, 85, 131, 0.75);
}

.project-small {
     flex: 0 2 50%;
     padding: 20px;
     height: 25%;
     border: 10px solid rgb(143, 193, 211);
     margin: auto;
     position: relative;
}
#sm-img-1 {
     background-image: url(./images/georgy-trofimov-qhd79HGRxDY-unsplash.jpg);
     object-fit: contain;
     background-size: cover;
}

#sm-img-2 {
     background-image: url(./images/matt-hardy-6ArTTluciuA-unsplash.jpg);
     object-fit: contain;
     background-size: cover;

}

#sm-img-3 {
     background-image: url(./images/polina-kuzovkova-7ZsAESWyF28-unsplash.jpg);
     object-fit: contain;
     background-size: cover;
}

#sm-img-4 {
     background-image: url(./images/tim-marshall-WUwKbFL81mw-unsplash.jpg);
     object-fit: contain;
     background-size: cover;
}

.vertical-text {
     margin-right: -20px;
}

.about-me {
     height: 300px;
}

.my-work {
     height: 700px;
}

.contact {
     height: 200px;
}

.font-form1 {
     font-family: 'Rubik', sans-serif;
     font-size: larger;
}

@media screen and (max-width: 800px) {
     
     
     .wrapper {
          flex-flow: column nowrap;
          align-items: flex-start;
     }

     #project-wrapper {
          flex-flow: column nowrap;
          margin-bottom: 20%;
          height: 100vh;
     }

     .section-content {
          border-bottom: 3px solid black;
          border-left: none;
          width: 100%;
          margin-top: 5px;
          flex: 0 1 auto;
     }
     
     #project-large {
          border: 2px solid rgb(143, 193, 211);
          flex: 2 1 auto;
     }
     .project-small {
          width: 50%;
          border: 2px solid rgb(143, 193, 211);
          flex: 0 1 auto;
     }

     .vertical-text {
          bottom: -10px;
     }

     .section-descr {
          margin-top: 50px;
     }

     #subtitle {
          left: 80%;
          top: 80%;
     }

     .contact-border {
          border-bottom: 0;
     }
}